$color-primary: #81B3D2;
$color-secondary: #766357;
$color-text: #FFF;
$color-primary-text: #000;
$color-secondary-text: #333;
$color-secondary-text-light: #CACACA;
$color-button-text: #666;
$color-app-background: #F2F2F2;
$color-divider: #E5E5E5;
