$color-text: #FFF;
$color-primary-text: #000;
$color-secondary-text: #333;
$color-button-text: #666;

$color-primary: #81b3d2;
$color-primary-hover: #669ec0;
$color-primary-active: #5496bd;
$color-secondary: #766357;
$color-secondary-hover: #604e43;
$color-secondary-active: #503e33;
$color-app-background: #eeeeee;
$color-divider: #e5e5e5;
$color-form-control: #f2f2f2;
$color-form-control-hover: #ebebeb;
$color-form-icon: #a9a9a9;
$color-control-arrow: #cacaca;
