@import "../../units/colors/utils";
@import "../../units/typography/utils";
@import "../../vendors/bulma/sass/utilities/all";

.navbar {
  position: relative;
  z-index: 10;
  background: #FFF;

  @include tablet {
    display: flex;
  }
}

.navbar__brand {
  display: flex;
  min-height: 3rem;

  @include tablet {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navbar__logo-link {
  width: 140px;
  
  @include mobile {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar__logo {
  width: auto;
  display: block;
}

.navbar__burger-button {
  margin-left: auto;
  border: 0;
  padding: 15px;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.navbar__burger-icon {
  width: 30px;
}

.navbar__menu {
  display: none;
  width: 100%;

  @include mobile {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
    text-align: center;
  }

  @include tablet {
    display: flex;
  }

  &--active-mobile {
    @include mobile {
      display: block;
    }
  }
}

.navbar__menu-item {
  @include tablet {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
  }

  &--margin-for-logo {
    @include tablet {
      margin-right: 20%;
    }
  }
}

.navbar__link {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: $typography-text-small;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-primary-text;

  @include tablet {
    display: flex;
    align-items: center;
    padding: 1.25rem 1rem;
  }

  &:hover {
    color: $color-secondary;
  }

  &--active {
    color: $color-secondary;
  }
}